USE [master]
GO
/****** Object:  Database [AlbumMundial]    Script Date: 26/6/2026 08:40:13 ******/
CREATE DATABASE [AlbumMundial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlbumMundial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AlbumMundial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlbumMundial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AlbumMundial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlbumMundial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlbumMundial]
GO
/****** Object:  User [alumno]    Script Date: 26/6/2026 08:40:13 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figurita]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figurita](
	[IdFigurita] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
	[NumeroAlbum] [int] NOT NULL,
	[PosicionJuego] [varchar](30) NOT NULL,
	[Imagen] [varchar](150) NOT NULL,
	[IdPais] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiguritaPegada]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaPegada](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFigurita] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiguritaPendiente]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaPendiente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFigurita] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiguritaRepetida]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaRepetida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFigurita] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[CantFiguritas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sobre]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sobre](
	[IdSobre] [int] IDENTITY(1,1) NOT NULL,
	[FechaApertura] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSobre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SobreFigurita]    Script Date: 26/6/2026 08:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SobreFigurita](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSobre] [int] NOT NULL,
	[IdFigurita] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figurita] ON 

INSERT [dbo].[Figurita] ([IdFigurita], [Nombre], [Tipo], [NumeroAlbum], [PosicionJuego], [Imagen], [IdPais]) VALUES (1, N'Escudo España', N'Escudo', 9, N'-', N'escudo_espana.png', 2)
INSERT [dbo].[Figurita] ([IdFigurita], [Nombre], [Tipo], [NumeroAlbum], [PosicionJuego], [Imagen], [IdPais]) VALUES (2, N'Formación España', N'Formación', 10, N'-', N'formacion_espana.png', 2)
INSERT [dbo].[Figurita] ([IdFigurita], [Nombre], [Tipo], [NumeroAlbum], [PosicionJuego], [Imagen], [IdPais]) VALUES (3, N'Unai Simón', N'Jugador', 11, N'Arquero', N'unai_simon.jpg', 2)
SET IDENTITY_INSERT [dbo].[Figurita] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [Nombre], [CantFiguritas]) VALUES (1, N'Argentina', 8)
INSERT [dbo].[Pais] ([IdPais], [Nombre], [CantFiguritas]) VALUES (2, N'España', 8)
INSERT [dbo].[Pais] ([IdPais], [Nombre], [CantFiguritas]) VALUES (3, N'Alemania', 8)
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
ALTER TABLE [dbo].[Sobre] ADD  DEFAULT (getdate()) FOR [FechaApertura]
GO
ALTER TABLE [dbo].[Figurita]  WITH CHECK ADD  CONSTRAINT [FK_Figurita_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Figurita] CHECK CONSTRAINT [FK_Figurita_Pais]
GO
ALTER TABLE [dbo].[FiguritaPegada]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaPegada] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figurita] ([IdFigurita])
GO
ALTER TABLE [dbo].[FiguritaPegada] CHECK CONSTRAINT [FK_FiguritaPegada]
GO
ALTER TABLE [dbo].[FiguritaPendiente]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaPendiente] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figurita] ([IdFigurita])
GO
ALTER TABLE [dbo].[FiguritaPendiente] CHECK CONSTRAINT [FK_FiguritaPendiente]
GO
ALTER TABLE [dbo].[FiguritaRepetida]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaRepetida] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figurita] ([IdFigurita])
GO
ALTER TABLE [dbo].[FiguritaRepetida] CHECK CONSTRAINT [FK_FiguritaRepetida]
GO
ALTER TABLE [dbo].[SobreFigurita]  WITH CHECK ADD  CONSTRAINT [FK_SobreFigurita_Figurita] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figurita] ([IdFigurita])
GO
ALTER TABLE [dbo].[SobreFigurita] CHECK CONSTRAINT [FK_SobreFigurita_Figurita]
GO
ALTER TABLE [dbo].[SobreFigurita]  WITH CHECK ADD  CONSTRAINT [FK_SobreFigurita_Sobre] FOREIGN KEY([IdSobre])
REFERENCES [dbo].[Sobre] ([IdSobre])
GO
ALTER TABLE [dbo].[SobreFigurita] CHECK CONSTRAINT [FK_SobreFigurita_Sobre]
GO
USE [master]
GO
