@{
    ViewData["Title"] = "Abrir Sobre";
}

<h1>Abrir Sobre</h1>

<form asp-action="Confirmar" method="post">

<div class="row">

@foreach(var f in ViewBag.Sobre)
{
    <div class="col-md-4">

        <div class="card mb-3">

            <img src="~/images/@f.Imagen" class="card-img-top">

            <div class="card-body">

                <h5>@f.Nombre</h5>

                <input type="checkbox"
                       name="pegar"
                       value="@f.IdFigurita">
                Pegar

                <br>

                <input type="checkbox"
                       name="repetidas"
                       value="@f.IdFigurita">
                Repetida

            </div>

        </div>

    </div>
}

</div>

<input type="submit"
       class="btn btn-success"
       value="Confirmar">

</form>