@{
    ViewData["Title"] = "Base de Figuritas";
}

<h1>Base de Figuritas</h1>

<table class="table table-striped">

<tr>

<th>ID</th>
<th>Nombre</th>
<th>Imagen</th>

</tr>

@foreach(var f in ViewBag.Figuritas)
{
<tr>

<td>@f.IdFigurita</td>

<td>@f.Nombre</td>

<td>

<img src="~/images/@f.Imagen" width="80">

</td>

</tr>
}

</table>

<a asp-action="Index" class="btn btn-secondary">Volver</a>