@model List<TP_04.Models.Figurita>

@{
    ViewData["Title"] = "Repetidas";
}

<h1>Figuritas Repetidas</h1>

@if(ViewBag.Repetidas.Count == 0)
{
    <p>No hay figuritas repetidas.</p>
}
else
{
    <div class="row">

    @foreach(var f in ViewBag.Repetidas)
    {
        <div class="col-md-3">

            <div class="card mb-3">

                <img src="~/images/@f.Imagen" class="card-img-top">

                <div class="card-body">

                    <h5>@f.Nombre</h5>

                </div>

            </div>

        </div>
    }

    </div>
}

<a asp-action="Index" class="btn btn-secondary">Volver</a>